

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing:auto;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}


.header{
   
background-image: url("assets/Hero-bg.png");
background-size:contain;
    background-repeat: no-repeat;
    height:auto;
}
.coding img
{
  
}
.footer
{
  background-image: url("assets/handshake.jpg");
  background-size: contain;
  height: 300px;
  width:100%;
}